---
import { actions } from "astro:actions";
import { isInputError } from "astro:actions";
import Header from "./Header.astro";
import Grades from "./Grades/Grades.astro";

interface Props {
  title: string;
  name: string;
  course: string;
  period: string;
}

const { name, course, period, title } = Astro.props;

const { data, error } = await Astro.callAction(actions.subject.create, {
  name,
  course: parseInt(course),
  period: parseInt(period),
});

if (isInputError(error) && !data?.id) {
  return Astro.redirect("/404");
}

const id = data?.id;
---

<Header course={course} period={period} subject={title} subjectId={id!} />
<table class="w-full table-auto min-w-[1200px] border-collapse bg-white">
  <thead>
    <tr class="flex items-center">
      <th
        class="table-header sticky left-0 z-10 bg-white shadow-[2px_0_4px_rgba(0,0,0,0.1)] max-w-[180px] w-[180px] px-4 py-3 text-left font-semibold text-slate-700 border-b-2 border-r border-slate-100 text-sm whitespace-nowrap"
      >
        Estudiantes
      </th>

      <Grades subjectId={id!} />
    </tr>
  </thead>
</table>
